<section id="content" role="main">
<div id="allworkouts">
<div class="clearfix">

    <div class="workout"><img alt="yoga" src="img/yoga.png" title="yoga" />
    <div class="w-name">Yoga</div>
    </div>

</div>
</div>

<nav id="navigation" role="navigation">
<ul>
	<li class="menu-spec current"><a href="#">Trainer Specialty</a></li>
	<li class="menu-style"><a href="#">Trainer Style</a></li>
	<li class="menu-other"><a href="#">Other filter</a></li>
	<li class="menu-ratings"><a href="#">Ratings</a></li>
</ul>
</nav>

<div style="margin-bottom: 20px">&nbsp;</div>

<div id="alltrainers">
<div class="clearfix">

    <div class="trainer"><img alt="wallace" src="img/wallace.jpg" title="wallace" />
    <div class="trainers gray"><span class="tr-name"><a href="trainer-wallace.html">Liza Wallace</a></span><br />
    <span>conditioning trainer</span></div>
    </div>

</div>
</div>
</section>