
<!DOCTYPE html>
<html>
<head>
    <title>Ecoach me</title>
    <link rel="stylesheet" href="static/css/site.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="static/js/main.js" ></script>
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>


</head>
<body>
<div id="header"><ul class="navlist"><li><a href="#" onclick="return workouts()"> Workout</a></li><li><a href="#" onclick="return oneonone()"> One on One</a></li><li><a href="#" onclick="return find()"> Find</a></li></ul>
</div>
<div id="content">
    <div id="howitworks">How it works ---Video</div>
    <div id="spotworkout">Spotlight Workout --- Module</div>
    <div id="featuredtrainers">Featured trainers --- Module</div>
</div>
<div id="footer">
</div>
<div id="error"></div>
</body>
</html>